    <div class="row-fluid video">
      <div class="span12">
          <iframe class="centered" width="640" height="360" src="http://www.youtube.com/embed/hlVBg7_08n0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <div class="row-fluid">
          <div class="span12 well sub-view lyrics">

              <h6>Macklemore and Ryan Lewis Ft.Mary Lambert - “Same Love”</h6>

              <p>When I was in the third grade I thought that I was gay</br>
              'Cause I could draw, my uncle was, and I kept my room straight</br>
              I told my mom tears rushing down my face</br>
              She's like "Ben you've loved girls since before pre-k tripping,"</br>
              Yeah, I guess she had a point, didn't she?</br>
              Bunch of stereotypes all in my head.</br>
              I remember doing the math like, "Yeah, I'm good at little league"</br>
              A preconceived idea of what it all meant</br>
              For those that liked the same sex</br>
              Had the characteristics</br>
              The right wing conservatives think it's a decision</br>
              And you can be cured with some treatment and religion</br>
              Man-made rewiring of a predisposition</br>
              Playing God, aw nah here we go</br>
              America the brave still fears what we don't know</br>
              And God loves all his children, is somehow forgotten</br>
              But we paraphrase a book written thirty-five-hundred years ago</br>
              I don't know</p>

              <p>And I can't change</br>
              Even if I tried</br>
              Even if I wanted to</br>
              I can't change</br>
              Even if I try</br>
              Even if I wanted to</br>
              My love</br>
              My love</br>
              My love</br>
              She keeps me warm</br>
              She keeps me warm</br>
              She keeps me warm</br>
              She keeps me warm</p>

              <p>If I was gay, I would think hip-hop hates me</br>
              Have you read the YouTube comments lately?</br>
              "Man, that's gay" gets dropped on the daily</br>
              We become so numb to what we're saying</br>
              A culture founded from oppression</br>
              Yet we don't have acceptance for 'em</br>
              Call each other faggots behind the keys of a message board</br>
              A word rooted in hate, yet our genre still ignores it</br>
              Gay is synonymous with the lesser</br>
              It's the same hate that's caused wars from religion</br>
              Gender to skin color, the complexion of your pigment</br>
              The same fight that led people to walk outs and sit ins</br>
              It's human rights for everybody, there is no difference!</br>
              Live on and be yourself</br>
              When I was at church they taught me something else</br>
              If you preach hate at the service those words aren't anointed</br>
              That holy water that you soak in has been poisoned</br>
              When everyone else is more comfortable remaining voiceless</br>
              Rather than fighting for humans that have had their rights stolen</br>
              I might not be the same, but that's not important</br>
              No freedom till we're equal, damn right I support it</p>

              <p>(I don't know)</p>

              <p>And I can't change</br>
              Even if I tried</br>
              Even if I wanted to</br>
              My love</br>
              My love</br>
              My love</br>
              She keeps me warm</br>
              She keeps me warm</br>
              She keeps me warm</br>
              She keeps me warm</p>

              <p>We press play, don't press pause</br>
              Progress, march on</br>
              With the veil over our eyes</br>
              We turn our back on the cause</br>
              Till the day that my uncles can be united by law</br>
              When kids are walking 'round the hallway plagued by pain in their heart</br>
              A world so hateful some would rather die than be who they are</br>
              And a certificate on paper isn't gonna solve it all</br>
              But it's a damn good place to start</br>
              No law is gonna change us</br>
              We have to change us</br>
              Whatever God you believe in</br>
              We come from the same one</br>
              Strip away the fear</br>
              Underneath it's all the same love</br>
              About time that we raised up</p>

              <p>And I can't change</br>
              Even if I tried</br>
              Even if I wanted to</br>
              I can't change</br>
              Even if I try</br>
              Even if I wanted to</br>
              My love</br>
              My love</br>
              My love</br>
              She keeps me warm</br>
              She keeps me warm</br>
              She keeps me warm</br>
              She keeps me warm</br>
              Love is patient</br>
              Love is kind</br>
              Love is patient</br>
              Love is kind</br>
              (I'm not crying on Sundays)</br>
              Love is patient</br>
              (I'm not crying on Sundays)</br>
              Love is kind</br>
              (I'm not crying on Sundays)</br>
              Love is patient</br>
              (I'm not crying on Sundays)</br>
              Love is kind</br>
              (I'm not crying on Sundays)</br>
              Love is patient</br>
              (I'm not crying on Sundays)</br>
              Love is kind</br>
              (I'm not crying on Sundays)</br>
              Love is patient</br>
              Love is kind</p> 
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="row-fluid question-list">
          <div class="span12 well sub-view">
            <h6>Questions</h6>
              <ul class="unstyled">
                <li class="question mc-question">
                  1. Which of these statements BEST summarizes Macklemore’s use of rhetoric devices throughout the song: <small>( CCSS.ELA-Literacy.SL.9-10.1c)</small>

                </li>
                <li class="question fr-question">
                  2. Evaluate Macklemore’s argument in favor of equal rights. Use specific lyrics or examples from the song to support your argument. <small>(CCSS.ELA-Literacy.SL.9-10.3)</small>

                </li>
                <li class="question vid-question">
                  3.  Inspired?  Write a poem response, journal entry,  persuasive speech, or any kind of writing that captures your passion and opinions!  Post your writing or upload your video to keep the conversation going!  <small>(CCSS.ELA-Literacy.SL.9-10.1d, CCSS.ELA-Literacy.WHST.9-10.6) </small>

                </li>
              </ul>
          </div>
        </div>

        <div class="row-fluid multiple-choice">
          <div class="span12 well sub-view">
            <h6>Which of these statements BEST summarizes Macklemore’s use of rhetoric devices throughout the song: <small>( CCSS.ELA-Literacy.SL.9-10.1c)</small></h6>


            <form>
              <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Macklemore demonstrates logos by explaining the long-term consequences of oppression.</label>

              <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Macklemore implements pathos by telling the story of violence against an LGBT youth.
              </label>

              <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">Macklemore uses ethos by using biographical anecdotes to show the prevalence of homophobia.
              </label>

              <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option4">Macklemore uses ethos because he has, personally, been the target of LGBT oppression.
              </label>
            </form>

            <button class="btn pull-right mc-back" type="button">Submit</button>
            <button class="btn pull-right mc-back" type="button">Back</button>
          </div>
        </div>

        <div class="row-fluid free-response">
          <div class="span12 well">
            <h6>Evaluate Macklemore’s argument in favor of equal rights. Use specific lyrics or examples from the song to support your argument. <small>(CCSS.ELA-Literacy.SL.9-10.3)</small></h6>

            <form>
              <textarea class="input-block-level" rows="8"></textarea>
            </form>

            <button class="btn pull-right fr-back" type="button">Submit</button>
            <button class="btn pull-right fr-back" type="button">Back</button>

          </div>
        </div>

        <div class="row-fluid video-response">
          <div class="span12 well sub-view">
            
            <p>What is your reaction to Macklemore’s video? </br> 
            Who is Macklemore’s intended audience?</br>
            What are the next steps that you see on this issue (either from Macklemore or other artists, groups, individuals)?</p>
            <div id="recorderElement" style="height:340px;width:329px"></div>
            <button class="btn pull-right vid-back" type="button">Back</button>
          </div>
        </div>

      </div>
    </div>

