    <div class="row-fluid">
      
      <div class="span6">
        <iframe style="padding-top:6px" class="centered" width="440" height="360" src="http://www.youtube.com/embed/cVMqKk9a65w" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="span6">
        <ul class="unstyled">
          <li class="comment well">
            <div class="row-fluid">
              <div class="span3">Mike</div>
              <div class="span9">Pork loin tail strip steak t-bone rump. Andouille tongue ball tip shankle, jowl tri-tip pork belly boudin frankfurter cow pig biltong venison beef ribs. Fatback tri-tip bacon venison jowl rump shank salami drumstick.</div>

            </div>
          </li>
          <li class="comment well">
            <div class="row-fluid">
              <div class="span3">Justin</div>
              <div class="span9">Jowl tri-tip pork belly boudin frankfurter cow pig biltong venison beef ribs. Fatback tri-tip bacon venison jowl rump shank salami drumstick.</div>

            </div>
          </li>
          <li class="addComment well">
            <div class="row-fluid">
              <div class="span10">
                <form>
                  <textarea class="input-block-level" placeholder="Type your response here" rows="3"></textarea>
                </form>
              </div>
              <div class="span2">
                <button class="btn pull-right" type="button">Submit</button>
              </div>

          </li>
        </ul>
      </div>

    </div>
