    <div class="row-fluid">
      
      <div class="span4">
        <h5>RESPOND</h5>
        <ul class="unstyled">
          <li class="project macklemore">
            <a href="/projects">
              <h6>Persuasive Techniques in Macklemore's "Same Love"</h6>
            </a>
          </li>
          <li class="project swift">
            <a href="">
              <h6>Oversimplified Similies in Taylor Swift's "You Belong With Me"</h6>
            </a>
          </li>
          <li class="project obama">
            <a href="">
              <h6>Pathos and Ethos in Obama's "A More Perfect Union"</h6>
            </a>
          </li>
          
        </ul>
      </div>

      <div class="span4">
        <h5>ANALYZE</h5>
        <ul class="unstyled">
           <li class="project seth">
            <a href="/responses">
              <h6>Seth's Response to Macklemore's "Same Love"</h6>
            </a>
          </li>
          <li class="project burgess">
            <a href="">
              <h6>Burgess' Response to Taylor Swift's "You Belong To Me"</h6>
            </a>
          </li>
          <li class="project mike">
            <a href="">
              <h6>Mike's Response to Macklemore's "Same Love"</h6>
            </a>
          </li>
        </ul>
      </div>

      <div class="span4">
        <h5>CREATE</h5>
        <ul class="unstyled">
          <li class="project newProject">
            <h6>Upload Your Project</h6>
          </li>
        </ul>
      </div>
    </div>
