@import "bootstrap";
@import "font-awesome";

ul .unstyled {
	list-style-type: none;
}

.sub-view {
	height: 400px;
}

.lyrics {
	overflow: auto;
}

.hidden {
	display: none;
}

.centered {
	display: block;
	margin: auto;
}

.question {
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.question:hover {
	cursor: pointer;
	background-color: #D5DFFF;
}

.video {
	margin-bottom: 10px;
}

.project {
	display: inline-block;
	height: 150px;
	width: 300px;
	border: solid 1px black;
	margin: 10px;
}

h5 {
	text-align: center;
}
.project:hover {
	background-color: #D5DFFF;
	cursor: pointer;
}

.macklemore {
	background-image: url('/assets/macklemore.png');
}

.obama {
	background-image: url('/assets/obama.png');
}

.swift {
	background-image: url('/assets/swift.png');
}

.seth {
	background-image: url('/assets/seth.png');
	background-size: cover;
}

.burgess {
	background-image: url('/assets/burgess.png');
}

.mike {
	background-image: url('/assets/mike.png');
	background-size: cover;
}

.vid-response {
	width: 100%;
	height: 300px;
	background-color: #111;
}

.project a {
	color: #000;
	display: block;
	height: 100%;
	width: 100%;
}

.project h6 {
	font-weight: 900;
	padding: 0px 5px;
	background-color: #fff;
	opacity: .65;
}

.comment {
	margin: 5px 0;
}
