!!!
%html
  %head
    %title Outspoken
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .brand Outspoken
    .container{:style => 'margin-top:50px'}
      = yield
